In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("titanic.csv")

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.shape

(891, 12)

In [6]:
data.info()
#data hi nahi hai toh we have to do column delete(data cleaning)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
#cleaning columns and droping some columns
#like cabin bcz has vey much Nan val so need of this type of data
columns_to_drop=['PassengerId','Name',"Ticket","Cabin","Embarked"]

In [9]:
data_clean=data.drop(columns=columns_to_drop)

In [10]:
data_clean

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0           0       3    male  22.0      1      0   7.2500
1           1       1  female  38.0      1      0  71.2833
2           1       3  female  26.0      0      0   7.9250
3           1       1  female  35.0      1      0  53.1000
4           0       3    male  35.0      0      0   8.0500
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0  13.0000
887         1       1  female  19.0      0      0  30.0000
888         0       3  female   NaN      1      2  23.4500
889         1       1    male  26.0      0      0  30.0000
890         0       3    male  32.0      0      0   7.7500

[891 rows x 7 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()
#Encode target labels with value between 0 and n_classes-1

In [13]:
le #

LabelEncoder()

In [14]:
data_clean['Sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [15]:
le.fit_transform(data_clean['Sex'])

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1])

In [16]:
data_clean['Sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [17]:
data_clean

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0           0       3    male  22.0      1      0   7.2500
1           1       1  female  38.0      1      0  71.2833
2           1       3  female  26.0      0      0   7.9250
3           1       1  female  35.0      1      0  53.1000
4           0       3    male  35.0      0      0   8.0500
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0  13.0000
887         1       1  female  19.0      0      0  30.0000
888         0       3  female   NaN      1      2  23.4500
889         1       1    male  26.0      0      0  30.0000
890         0       3    male  32.0      0      0   7.7500

[891 rows x 7 columns]

In [18]:
data_clean['Sex']=le.fit_transform(data_clean['Sex'])

In [19]:
data_clean

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
888         0       3    0   NaN      1      2  23.4500
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]

In [20]:
data_clean.info()
#now we have to clean Age feature by taking mean or better median and filling up Nan values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

In [21]:
"""In this case, analysts tend to use the mean because it includes all of the data in the calculations. However, if you have a skewed distribution, the median is often the best measure of central tendency. When you have ordinal data, the median or mode is usually the best choice."""

'In this case, analysts tend to use the mean because it includes all of the data in the calculations. However, if you have a skewed distribution, the median is often the best measure of central tendency. When you have ordinal data, the median or mode is usually the best choice.'

In [22]:
data_clean["Age"].median()

28.0

In [23]:
#filling Nan value by using fillna()
data_clean["Age"]=data_clean["Age"].fillna(value=data_clean["Age"].median())

In [24]:
data_clean.info()
#now its cleaned

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

In [25]:
#so for telling people will survive on not taking factors(features) and predicting that they will survive or not

In [26]:
input_cols=["Pclass","Sex","Age","SibSp","Parch","Fare"]

In [27]:
output_cols=["Survived"]

In [28]:
#taking data in df form or series form 
X=data_clean[input_cols]

In [29]:
y=data_clean[output_cols]

In [30]:
X.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [31]:
#lets Define entropy and information gain for Decesion Tree

# Entropy

In [32]:
def entropy(col):
#     unq, counts = np.unique(col, return_counts = True)
#     N = float(np.sum(counts))
    
#     ent = 0.0
    
#     for i in range(len(unq)):
#         p = counts[i]/N
#         ent += p*np.log2(p)
        
    #using vectorization 
    unq, counts= np.unique(col, return_counts=True)
    probabs = counts/ np.sum(counts)
    ent  = np.sum(probabs * np.log2(probabs))
    
    return -ent

In [33]:
unique,count=np.unique(data_clean["Sex"], return_counts=True)

In [34]:
unique

array([0, 1])

In [35]:
count

array([314, 577], dtype=int64)

In [36]:
np.sum(count)

891

In [37]:
def divide_data(x_data, fkey, fval):#here X_data is DataFrame and fkeyis  any col of Df 
    #in fval we pass mean of that col of DF
    x_right = pd.DataFrame([], columns= x_data.columns)#making empty data frame with col name as x_data
    x_left =  pd.DataFrame([], columns= x_data.columns)#making empty data frame with col name as x_data
    
    
    for i in range(x_data.shape[0]):
        val = x_data[fkey].loc[i]
        
        if val>=fval: #here we have to compare with mean value and store it in the dataframe
            x_right = x_right.append(x_data.loc[i])
            #print(x_right)
        else:
            x_left = x_left.append(x_data.loc[i])
            
    return x_left, x_right

In [38]:
data_clean[:10]["Sex"].loc[6]

1

In [39]:
data_clean[:10]["Sex"].loc[9]

0

In [40]:
divide_data(data_clean[:890],'Pclass', data_clean[:890]['Pclass'].mean() )
#for this we have to make amiddle

(     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
 1         1.0     1.0  0.0  38.0    1.0    0.0  71.2833
 3         1.0     1.0  0.0  35.0    1.0    0.0  53.1000
 6         0.0     1.0  1.0  54.0    0.0    0.0  51.8625
 9         1.0     2.0  0.0  14.0    1.0    0.0  30.0708
 11        1.0     1.0  0.0  58.0    0.0    0.0  26.5500
 ..        ...     ...  ...   ...    ...    ...      ...
 880       1.0     2.0  0.0  25.0    0.0    1.0  26.0000
 883       0.0     2.0  1.0  28.0    0.0    0.0  10.5000
 886       0.0     2.0  1.0  27.0    0.0    0.0  13.0000
 887       1.0     1.0  0.0  19.0    0.0    0.0  30.0000
 889       1.0     1.0  1.0  26.0    0.0    0.0  30.0000

 [400 rows x 7 columns],
      Survived  Pclass  Sex   Age  SibSp  Parch     Fare
 0         0.0     3.0  1.0  22.0    1.0    0.0   7.2500
 2         1.0     3.0  0.0  26.0    0.0    0.0   7.9250
 4         0.0     3.0  1.0  35.0    0.0    0.0   8.0500
 5         0.0     3.0  1.0  28.0    0.0    0.0   8.4583
 7         0.0     3.0  1.0   2.0    3.0    1.0  21.0750
 ..        ...     ...  ...   ...    ...    ...      ...
 881       0.0     3.0  1.0  33.0    0.0    0.0   7.8958
 882       0.0     3.0  0.0  22.0    0.0    0.0  10.5167
 884       0.0     3.0  1.0  25.0    0.0    0.0   7.0500
 885       0.0     3.0  0.0  39.0    0.0    5.0  29.1250
 888       0.0     3.0  0.0  28.0    1.0    2.0  23.4500

 [490 rows x 7 columns])

In [41]:
divide_data(data_clean[:10],'Sex', data_clean[:10]['Sex'].mean() )

(   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
 1       1.0     1.0  0.0  38.0    1.0    0.0  71.2833
 2       1.0     3.0  0.0  26.0    0.0    0.0   7.9250
 3       1.0     1.0  0.0  35.0    1.0    0.0  53.1000
 8       1.0     3.0  0.0  27.0    0.0    2.0  11.1333
 9       1.0     2.0  0.0  14.0    1.0    0.0  30.0708,
    Survived  Pclass  Sex   Age  SibSp  Parch     Fare
 0       0.0     3.0  1.0  22.0    1.0    0.0   7.2500
 4       0.0     3.0  1.0  35.0    0.0    0.0   8.0500
 5       0.0     3.0  1.0  28.0    0.0    0.0   8.4583
 6       0.0     1.0  1.0  54.0    0.0    0.0  51.8625
 7       0.0     3.0  1.0   2.0    3.0    1.0  21.0750)

In [42]:
divide_data(data_clean[:10],'Sex', data_clean[:10]['Sex'].mean() )

(   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
 1       1.0     1.0  0.0  38.0    1.0    0.0  71.2833
 2       1.0     3.0  0.0  26.0    0.0    0.0   7.9250
 3       1.0     1.0  0.0  35.0    1.0    0.0  53.1000
 8       1.0     3.0  0.0  27.0    0.0    2.0  11.1333
 9       1.0     2.0  0.0  14.0    1.0    0.0  30.0708,
    Survived  Pclass  Sex   Age  SibSp  Parch     Fare
 0       0.0     3.0  1.0  22.0    1.0    0.0   7.2500
 4       0.0     3.0  1.0  35.0    0.0    0.0   8.0500
 5       0.0     3.0  1.0  28.0    0.0    0.0   8.4583
 6       0.0     1.0  1.0  54.0    0.0    0.0  51.8625
 7       0.0     3.0  1.0   2.0    3.0    1.0  21.0750)


# Information Gain

In [43]:
def information_gain(x_data,  fkey, fval):#see formula
    left, right = divide_data(x_data, fkey, fval)
    
    # left total points and right total points
    l = float( left.shape[0] / x_data.shape[0] ) 
    r = float( right.shape[0] / x_data.shape[0] )
    
    IG = entropy(x_data['Survived'])  - ( l*entropy(left['Survived']) + r*entropy(right['Survived']))
    
    return IG

In [44]:
for col in X.columns:
    ig = information_gain(data_clean, col, data_clean[col].mean() ) #here parameters are Whole DF and all the col iteratively
    #then we find the mean of particular column of the DF as Fval for making tree (divinding into nodes)
    print(col , ig)

Pclass 0.07579362743608165
Sex 0.2176601066606142
Age 0.0008836151229467681
SibSp 0.009584541813400071
Parch 0.015380754493137694
Fare 0.042140692838995464

# Decision Tree Class

In [45]:
class DecisionTree:
    
    def __init__(self, depth = 0, max_depth = 5):
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.depth = depth
        self.max_depth = max_depth
        self.target = None
        
        
    def train(self, data):
        features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
        info_gains = []
        for f in features:
            ig = information_gain(data, f, data[f].mean())
            info_gains.append(ig)
        
        self.fkey = features[np.argmax(info_gains)]
        self.fval = data[self.fkey].mean()
        
        print(" Creating DT with feature - {}, depth - {}".format(self.fkey, self.depth))
        
        data_left, data_right = divide_data(data, self.fkey, self.fval)
        
        data_left = data_left.reset_index(drop = True)
        data_right = data_right.reset_index(drop = True)
        
    
    
        ######### RECURSION ##########
        
        # case - 1 Actually a Pure Node
        if data_left.shape[0] == 0 or data_right.shape[0] == 0:
            
            self.target = data['Survived'].iloc[0]
              
            return 
        
        # case - 2 Max-depth => Early Stoppinh
        if (self.depth >= self.max_depth):
            
            if data['Survived'].mean() >= 0.5 :
                self.target = 1
            else:
                self.target = 0
                
            return 
        
        # recursion
        
        self.left = DecisionTree(depth=self.depth + 1, max_depth= self.max_depth)
        self.left.train(data_left)
        
        self.right = DecisionTree(depth= self.depth + 1, max_depth= self.max_depth)
        self.right.train(data_right)
        
        
        # bcoz i want to give target to each node
        if data['Survived'].mean() >= 0.5 :
            self.target = 1
        else:
            self.target = 0

        return 
    
    
    
    def predict(self, test):
        
        if test[self.fkey] > self.fval:
            # right side
            if self.right is None:
                return self.target
            
            return self.right.predict(test)
            
        else:
            # left side
            if self.left is None:
                return self.target
            
            return self.left.predict(test)

In [46]:
data_clean.shape

(891, 7)

In [47]:
split_val = int(X.shape[0] * 0.7)

In [48]:
train_data = data_clean[:split_val]
test_data = data_clean[split_val:]

In [49]:
train_data.shape

(623, 7)

In [50]:
test_data.shape

(268, 7)

In [51]:
dt = DecisionTree()

In [52]:
dt.train(train_data)

 Creating DT with feature - Sex, depth - 0
 Creating DT with feature - Pclass, depth - 1
 Creating DT with feature - Age, depth - 2
 Creating DT with feature - SibSp, depth - 3
 Creating DT with feature - Pclass, depth - 4
 Creating DT with feature - Pclass, depth - 5
 Creating DT with feature - Age, depth - 5
 Creating DT with feature - SibSp, depth - 4
 Creating DT with feature - Parch, depth - 5
 Creating DT with feature - Pclass, depth - 5
 Creating DT with feature - SibSp, depth - 3
 Creating DT with feature - Fare, depth - 4
 Creating DT with feature - Parch, depth - 5
 Creating DT with feature - Pclass, depth - 5
 Creating DT with feature - Pclass, depth - 4
 Creating DT with feature - Pclass, depth - 5
 Creating DT with feature - Pclass, depth - 5
 Creating DT with feature - Parch, depth - 2
 Creating DT with feature - Age, depth - 3
 Creating DT with feature - Fare, depth - 4
 Creating DT with feature - Fare, depth - 5
 Creating DT with feature - SibSp, depth - 5
 Creating DT with feature - Age, depth - 4
 Creating DT with feature - Fare, depth - 5
 Creating DT with feature - Fare, depth - 5
 Creating DT with feature - Fare, depth - 3
 Creating DT with feature - Age, depth - 4
 Creating DT with feature - Parch, depth - 5
 Creating DT with feature - Fare, depth - 5
 Creating DT with feature - Fare, depth - 4
 Creating DT with feature - Fare, depth - 5
 Creating DT with feature - Pclass, depth - 5
 Creating DT with feature - Fare, depth - 1
 Creating DT with feature - Parch, depth - 2
 Creating DT with feature - Fare, depth - 3
 Creating DT with feature - Pclass, depth - 4
 Creating DT with feature - Pclass, depth - 5
 Creating DT with feature - Fare, depth - 5
 Creating DT with feature - Fare, depth - 4
 Creating DT with feature - SibSp, depth - 5
 Creating DT with feature - Fare, depth - 5
 Creating DT with feature - Age, depth - 3
 Creating DT with feature - Fare, depth - 4
 Creating DT with feature - Pclass, depth - 5
 Creating DT with feature - SibSp, depth - 5
 Creating DT with feature - Age, depth - 4
 Creating DT with feature - Age, depth - 5
 Creating DT with feature - Pclass, depth - 5
 Creating DT with feature - Pclass, depth - 2
 Creating DT with feature - Age, depth - 3
 Creating DT with feature - SibSp, depth - 4
 Creating DT with feature - Fare, depth - 5
 Creating DT with feature - SibSp, depth - 5
 Creating DT with feature - Age, depth - 4
 Creating DT with feature - Parch, depth - 5
 Creating DT with feature - SibSp, depth - 5
 Creating DT with feature - SibSp, depth - 3
 Creating DT with feature - Age, depth - 4
 Creating DT with feature - Age, depth - 5
 Creating DT with feature - Age, depth - 5
 Creating DT with feature - Parch, depth - 4
 Creating DT with feature - Pclass, depth - 5
 Creating DT with feature - Age, depth - 5

In [ ]:
dt.left.fkey

# Predict

In [53]:
y_pred = []


for i in range(test_data.shape[0]):
    p = dt.predict(test_data.iloc[i])
    y_pred.append(p)

In [54]:
y_pred = np.array(y_pred, dtype= "uint")

In [55]:
y_test = test_data['Survived'].values

In [56]:
(y_pred == y_test).sum()/y_test.shape[0]

0.8171641791044776

In [97]:
df = pd.DataFrame(data=y_pred,columns=["survived"])

In [94]:
# id=[  print(i)   for i in range(df.shape[0])]
# id=np.array(id)
# df=pd.DataFrame(data=id,data1,columns=["id"])
#this is wrong to title index column

In [98]:
df

     survived
0           0
1           0
2           0
3           0
4           1
..        ...
263         0
264         1
265         0
266         0
267         0

[268 rows x 1 columns]

In [104]:
df.index.names = ['Id']

In [105]:
df

     survived
Id
0           0
1           0
2           0
3           0
4           1
..        ...
263         0
264         1
265         0
266         0
267         0

[268 rows x 1 columns]

In [106]:
df.to_csv("Titanic_Live_Pred.csv")

# Decision Tree with sklearn

In [57]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [58]:
model = DecisionTreeClassifier(max_depth=5, )

In [59]:
model.fit(train_data.drop(columns=['Survived']), train_data['Survived'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [61]:
model.score(test_data.drop(columns=['Survived']), test_data['Survived'])

0.8171641791044776

In [62]:
model.score(train_data.drop(columns=['Survived']), train_data['Survived'])

0.8603531300160514